@media (max-width: 1000px) {
  #page-home {
    background-position-x: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home header a {
    position: absolute;
    bottom: 0;

    left: 50%;
    transform: translateX(-50%);
  }

  #page-home main {
    align-items: center;
    margin-bottom: 100px;
  }
}

@media (min-width: 2000px) {
  #page-home {
    background-position-x: 40vw;
  }
}

@media (max-height: 650px) {
  #page-home {
    background-position-y: 50px;
  }
}

/* Fazer mais regras */